<h2>List of free parking lots</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Code</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Times extended</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
<%= for t <- @tuples do %>
    <tr>
      <td><%= elem(t, 0) %></td>
      <td><%= elem(t, 1) %></td>
      <td><%= elem(t, 2) %></td>
      <td><%= elem(t, 3) %></td>
      <td><%= elem(t, 4) %></td>
      <td><%= link "Extend", to: user_path(@conn, :extend, @tuples) %></td>
      
    </tr>
<% end %>
  </tbody>
</table>